<!DOCTYPE html>
<html>
<head>
  <title>Breeze</title>

  <!-- socket.io -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  <script src="{{ url_for('static', filename='scripts/communicate.js') }}"></script>

  <!-- CodeMirror -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/mode/simple.min.js"></script>
  
  <!-- local -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">


</head>

<body>
  <header>
    <img src="{{ url_for('static', filename='images/breeze.png') }}">
    <div>
      <button onclick="SendCode()">Run</button>
    </div>
    
  </header>
  
  <div id="code-frame">
      <textarea id="code" class="codemirror-textarea"></textarea>
  </div>
  
  <div id="terminal-frame">
    <div id="output"></div>
  </div>
  
  <!-- CodeMirror -->
  <script src="{{ url_for('static', filename='scripts/code.js') }}"></script>

</body>
</html>
