:root {
    --white: #fff;
    --bg: #f8f8f8;
    --teal-blue: #21444c;
    --light-blue: #b0cecd;

    --border: #ddd;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color:var(--bg);
}

html {
    background-color: var(--teal-blue);
}

main {
    background-color: var(--bg);
}


header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--bg);
}

header ul {
    margin-right: 20px;
}

header ul {
    list-style: none;
}

header ul li{
    display: inline;
    margin-left: 10px;
    font-size: larger;
}

header ul li label, header ul li a{
    display: inline;
    color: var(--teal-blue);
    background-color:var(--white);
    text-decoration: none;
    cursor: pointer;
    
    padding: 5px;
    border: 1px solid var(--teal-blue);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

header ul li {
    color: var(--teal-blue);
    background-color: transparent;
}

header ul li label, header ul li a{
    margin: 5px;
    color: var(--teal-blue);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header ul li label:active,
header ul li a:active,
header ul li label:hover,
header ul li a:hover {
    color: var(--light-blue);
}

header img {
    height: 60px;
    margin: 0 0 25px 25px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    
    color: var(--white);
    background-color: var(--teal-blue);
}