main {
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    min-height: 90vh;
}

#code-frame {
    margin: 0px 10px 20px 20px;
    width: 70%;
}

#run:disabled {
    opacity: 0.5;
    cursor:unset;
}

#stop:disabled {
    opacity: 0.5;
    cursor:unset;
}

#terminal-frame {
    margin: 0px 20px 20px 10px;
    width: 30%;
}

#input-frame {
    align-items: center;
}

#input-msg {
    margin-right: 10px;
}

#output, #input-frame{
    margin: 10px;
}

#input{
    resize: none;
    overflow: visible;
    padding: 3px 7px 3px 7px;
}

#output p {
    margin: 5px;
}

#output {
    overflow: scroll;
}

.frame {
    height: 80vh;
    border: 1px solid var(--border);
    background-color: var(--white);
}

#code-frame .CodeMirror {
    font-size: larger;
    height:74.7vh;
}

.CodeMirror-gutters {
    background-color: var(--bg);
}

.frame-header {
    height: 5vh;
    min-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    border: 1px solid var(--border);
    background-color: var(--light-blue);
    color: var(--teal);
}

.frame-header h2 {
    display: inline;
    margin: 5px;

    color: var(--teal-blue);
    font-weight: normal;
}

.frame-header div button {
    margin: 5px;
    color: var(--teal-blue);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.frame-header button:active {
    color: var(--white);
}