main {
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    height: 100%;
    max-height: 100%;
    overflow: scroll;
}

#code-frame {
    margin: 0px 10px 20px 20px;
    width: 70%;
}

#terminal-frame {
    margin: 0px 20px 20px 10px;
    width: 30%;
}

#output, #input-frame{
    margin: 10px;
}

#input{
    resize: none;
    overflow: visible;
}

#output p {
    margin: 5px;
}

.frame {
    height: 80%;
    border: 1px solid var(--border);
    background-color: var(--white);
    overflow: scroll;
}

#code-frame .CodeMirror {
    font-size: larger;
    height: 100%;
}

.CodeMirror-gutters {
    background-color: var(--bg);
}

.frame-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 1px solid var(--border);
    background-color: var(--light-blue);
    color: var(--teal);
}

.frame-header h2 {
    display: inline;
    margin: 5px;

    color: var(--teal-blue);
    font-weight: normal;
}

.frame-header button {
    margin: 5px;

    background-color: var(--white);
    color: var(--teal-blue);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.frame-header button:hover, .frame-header button:active {
    border-color: var(--teal-blur);
}

.frame-header button:active {
    border-style: inset;
}