<!DOCTYPE html>
<html>
<head>
  <title>Breeze {% block title %}{% endblock %}</title>
  
  <!--page icon -->
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

  <!-- base.css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/base.css') }}">
  {% block tmpl_head_script %}{% endblock %}

</head>
<body>
    <header>
      <a href="{{ url_for('routes.index') }}">
        <img src="{{ url_for('static', filename='images/breeze.png') }}">
      </a>

      <ul>
        {% block menu %}{% endblock %}
      </ul>
    </header>

  <main>
    {% block tmpl_nav %}{% endblock %}
    {% block tmpl_content %}{% endblock %}
  </main>


  <footer>
    <p>Written by Idan Pelled</p>
    <p>GitHub</p>
    <p>All Rights reserved</p>
  </footer>

  {% block body_script %}{% endblock %}


</body>
</html>
