{% extends 'static_page.jinja2' %}


{% block title %}Documentation{% endblock %}


{% block head_script %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/documentation.css') }}">
{% endblock %}

{% block menu %}
  <li><a href=" {{ url_for('routes.editor') }}"><i class="fa-solid fa-laptop-code fa-xl"></i></a></li>
{% endblock %}


{% block nav %}
  <li><a href="#installation">Installation and Setup</a></li>
  <li><a href="#syntax">Syntax and Language Basics</a></li>
  <li><a href="#core-concepts">Core Concepts and Functions</a></li>
  <li><a href="#standard-library">Standard Library</a></li>
  <li><a href="#error-handling">Error Handling and Debugging</a></li>
  <li><a href="#examples">Examples and Tutorials</a></li>
  <li><a href="#faq">Frequently Asked Questions</a></li>
  <li><a href="#glossary">Glossary</a></li>
  <li><a href="#support">Community and Support</a></li>
  <li><a href="#updates">Versioning and Updates</a></li>
  <li><a href="#legal">License and Legal Information</a></li>
{% endblock %}


{% block content %}
<h1>Welcome to the Breeze Programming Language Documentation</h1>

<p>Breeze is a fun, kid-friendly programming language. This documentation serves as a guide to help you get started with Breeze, learn its syntax and core concepts, and unleash your creativity by solving problems through coding.</p>

<section>
  <h2 id="installation">Installation and Setup</h2>


  <p>Follow these steps to install and set up Breeze:</p>
  <h3>Breeze Online</h3>
  <ol>
    <li>
      No installation is required on your local machine.
    </li>
    <li>
      The web app provides a user-friendly interface for writing and running Breeze code directly within the browser.
    </li>
    <li>
      Start using Breeze <a href="{{ url_for('routes.editor') }}">Now</a>!
    </li>
  </ol>

  <br>
  <h3>Download Breeze</h3>
  <ol>
    <li>
      Make sure you have the necessary dependencies and tools installed, such as a C++ compiler and build tools.
    </li>
    <li>Download the source files <a href="{{ url_for('routes.download_breeze') }}">here</a></li>
    <li>
      Extract the source files to a directory on your local machine.
    </li>
    <li>
      Open a terminal or command prompt and navigate to the directory where you extracted the source files.
    </li>
    <li>
      Build the source file
    </li>
    <li>
      Once the build process is complete, you will have the Breeze executable or interpreter generated.
    </li>
    <li>
      You can then run Breeze by executing the generated binary file from the command line or terminal, providing it with the necessary code as input.
    </li>
  </ol>
  
</section>

<section>
  <h2 id="syntax">Syntax and Language Basics</h2>


  <p>Breeze uses a simple and intuitive syntax designed for children. Here are the key components of Breeze syntax:</p>
  <ul>
    <li>Data types: ...</li>
    <li>Variables: ...</li>
    <li>Operators: ...</li>
    <li>Control flow statements: ...</li>
  </ul>
</section>

<section>
  <h2 id="core-concepts">Core Concepts and Functions</h2>


  <p>Breeze provides various core concepts and functions that are fundamental to programming. These include:</p>
  <ul>
    <li>Loops: ...</li>
    <li>Conditionals: ...</li>
    <li>Functions: ...</li>
    <li>Data structures: ...</li>
  </ul>
</section>


<section>
  <h2 id="standard-library">Standard Library</h2>


  <p>Breeze comes with a standard library that provides useful functions and modules. Here are some of the key functions available:</p>
  <ul>
    <li>Function 1: ...</li>
    <li>Function 2: ...</li>
    <li>Function 3: ...</li>
  </ul>
</section>

<section>
  <h2 id="error-handling">Error Handling and Debugging</h2>


  <p>Learn how to handle errors and debug your Breeze code with these tips and techniques:</p>
  <ul>
    <li>Tip 1: ...</li>
    <li>Tip 2: ...</li>
    <li>Tip 3: ...</li>
  </ul>
</section>

<section>
  <h2 id="examples">Examples and Tutorials</h2>


  <p>Get inspired and learn by example! Here are some code examples and tutorials that showcase Breeze's capabilities:</p>
  <ul>
    <li>Example 1: ...</li>
    <li>Example 2: ...</li>
    <li>Tutorial 1: ...</li>
  </ul>
</section>


<section>
  <h2 id="faq">Frequently Asked Questions</h2>


  <p>Here are some common questions about Breeze:</p>
  <ul>
    <li>Question 1: ...</li>
    <li>Question 2: ...</li>
    <li>Question 3: ...</li>
  </ul>
</section>

<h2 id="glossary">Glossary</h2>

<section>
  <p>Here are some important terms and definitions you may encounter while using Breeze:</p>
  <dl>
    <dt>Term 1:</dt>
    <dd>Definition 1.</dd>
    <dt>Term 2:</dt>
    <dd>Definition 2.</dd>
    <dt>Term 3:</dt>
    <dd>Definition 3.</dd>
  </dl>
</section>


<section>
  <h2 id="support">Community and Support</h2>


  <p>Join the Breeze community to connect with other users, share your projects, and seek help:</p>
  <ul>
    <li>Forum 1: ...</li>
    <li>Forum 2: ...</li>
    <li>Community Slack channel: ...</li>
  </ul>
</section>

<section>
  <h2 id="updates">Versioning and Updates</h2>


  <p>Breeze is regularly updated with new features and improvements. Stay up to date with the latest releases and learn about version-specific changes:</p>
  <ul>
    <li>Version 1.0.0: ...</li>
    <li>Version 1.1.0: ...</li>
    <li>Version 2.0.0: ...</li>
  </ul>
</section>

<section>
  <h2 id="legal">License and Legal Information</h2>


  <p>Breeze is licensed under the XYZ license. For more information about the terms of use and legal details, refer to the following resources:</p>
  <ul>
    <li>License file: ...</li>
    <li>Terms of Use: ...</li>
    <li>Copyright notice: ...</li>
  </ul>
</section>

{% endblock %}


{% block body_script %}{% endblock %}
