{% extends 'base.jinja2' %}

{% block title %}
  Editor
{% endblock %}

{% block tmpl_head_script %}
  <!-- socket.io -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  <script src="{{ url_for('static', filename='scripts/communicate.js') }}"></script>

  <!-- CodeMirror -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/mode/simple.min.js"></script>
  
  <!-- editor.css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/editor.css') }}">
{% endblock %}

{% block menu %}
  <li>
    <button id="export" onclick="downloadFile()" style="display: none;"></button>
    <label for="export" title="Export File"><i class="fa-solid fa-download fa-xl"></i></label>
  </li>

  <li>
    <input type="file" id="import" accept=".brz" onchange="openFile(event)" style="display: none;"/>
    <label for="import"><i class="fa-solid fa-upload fa-xl"></i></label>
  </li>

  <li><a href=" {{ url_for('routes.documentation') }}"><i class="fa-solid fa-book fa-xl"></i></a></li>

{% endblock %}
  
{% block tmpl_content %}
  <div id="code-frame" class="frame">
    <div class="frame-header">
      <h2>Source Code</h2>
      <div>
        <i id="loading" class="fa-solid fa-spinner fa-spin" style="display: none;"></i>
        <button id="run" onclick="SendCode()">
          <i class="fa-solid fa-play fa-lg"></i>
        </button>
        <button id="stop" onclick="Stop()" disabled>
          <i class="fa-solid fa-stop fa-lg"></i>
        </button>
      </div>
    </div>
    <textarea id="code" class="codemirror-textarea" style="display: none;"></textarea>
  </div>
  
  <div id="terminal-frame" class="frame">
    <div class="frame-header">
      <h2>Terminal</h2>
      <div>
        <button onclick="ClearOutput()">
          <i class="fa-solid fa-broom fa-lg"></i>
        </button>
      </div>
    </div>
    <div id="output"></div>
    <div id="input-frame" style="display: none;">
      <label id="input-msg"></label>
      <textarea id="input" oninput="AdjustHeight(this)" onkeydown="HandleKeyPress(event, this)" rows="1"></textarea>
    </div>
  </div>
{% endblock %}

{% block body_script %}
  <!-- CodeMirror -->
  <script src="{{ url_for('static', filename='scripts/code.js') }}"></script>
{% endblock %}
