{% extends 'static_page.jinja2' %}


{% block title %}Welcome{% endblock %}


{% block menu %}
  <li><a href=" {{ url_for('routes.documentation') }}"><i class="fa-regular fa-file-lines fa-xl"></i></i></a></li>
  <li><a href=" {{ url_for('routes.editor') }}"><i class="fa-regular fa-pen-to-square fa-xl"></i></a></li>
{% endblock %}


{% block nav %}
  <li><a href="#syntax">Learn Coding with Simple Syntax</a></li>
  <li><a href="#playground">Unleash your Creativity</a></li>
  <li><a href="#interface">Engaging and Interactive Learning</a></li>
  <li><a href="#benefits">Early Coding Education</a></li>
  <li><a href="#start-coding">Start Your Coding Adventure</a></li>
{% endblock %}


{% block head_script %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/index.css') }}">
{% endblock %}


{% block content %}
  <h1>Welcome to Breeze</h1>
  <br/>

  <section>
    <h2 id="syntax">Simplified Syntax for Easy Learning</h2>
    <p>Breeze understands that learning a programming language can be daunting for beginners. That's why it utilizes a simplified syntax that makes it easier for young learners to grasp fundamental programming principles. By removing unnecessary complexity, Breeze empowers children to focus on building their coding skills step by step, fostering a solid foundation for their future in technology.</p>
  </section>

  <section>
    <h2 id="playground">Web Application: A Playground for Young Coders</h2>
    <p>Our Breeze web application is specifically crafted to be a playground for kids to unleash their creativity and transform their ideas into reality. With the user-friendly interface, children can write, execute, and visualize their code in real-time. This hands-on approach enables them to see immediate results, making the learning process engaging, exciting, and highly rewarding.</p>
  </section>

  <section>
    <h2 id="interface">Interactive Interface for All Ages</h2>
    <p>At Breeze, we understand the importance of captivating young minds through visually appealing and interactive experiences. Our web app provides an intuitive interface that appeals to children of all ages. From vibrant colors to playful animations, every aspect of the Breeze interface is designed to keep young learners motivated and eager to explore the world of coding.</p>
  </section>

  <section>
    <h2 id="benefits">The Added Value of Starting Coding at a Young Age</h2>
    <p>Introducing coding to children at a young age offers numerous benefits that extend far beyond the realm of programming. Here's why it's essential to set sail into the world of coding with Breeze:</p>
    <ol>
      <li><strong>Problem-Solving Skills:</strong> Coding teaches children how to think logically and break down complex problems into smaller, manageable steps.</li>
      <li><strong>Creativity and Innovation:</strong> Coding encourages creativity and nurtures innovative thinking.</li>
      <li><strong>Computational Thinking:</strong> Coding fosters computational thinking, a fundamental skill that involves breaking down a problem into logical steps and developing algorithms to solve it.</li>
      <li><strong>Digital Literacy:</strong> In today's digital age, understanding how computers and technology work is crucial.</li>
      <li><strong>Future-Proofing Skills:</strong> The demand for individuals with coding skills continues to grow across industries.</li>
    </ol>
  </section>

  <section>
    <h2 id="start-coding">Start Coding</h2>
    <p>Start your coding journey with Breeze and unlock the endless possibilities of programming.</p>
  </section>

{% endblock %}
