{% extends 'base.jinja2' %}


{% block tmpl_head_script %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/static_page.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
  
  
  <script src="{{ url_for('static', filename='scripts/prism-breeze.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/prism.css') }}">
  {% block head_script %}{% endblock %}
{% endblock %}


{% block tmpl_nav %}
<nav>
  <ul>
    {% block nav %}{% endblock %}
  </ul>
</nav>
{% endblock %}


{% block tmpl_content %}
  <div id="content">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
